body {
    font-family: "Lucida Console", Monaco, monospace ;
    background-color: black;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: darkgray;
    border: solid 1px #333333;
    height: 80vh;
}

h1, h2, h3 {
    font-family: "Lucida Console", Monaco, monospace ;
}

img {
    float: right;
    width: 400px;
    height: auto;
}

a {
    text-decoration: none;
    color: #0ef8f8;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

p{
  text-decoration: none;
  color: #0ef8f8
}
